@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
    background-image: url("resources/space_painting.jpg");
	background-repeat: no-repeat;
    background-size: 100%; 
	color: white;
}
	@font-face {
		font-family: TrashHand;
		src: url(/resources/TrashHand.TTF);
	}
* {
	font-family: TrashHand;
}
body a {
	color: white;
	text-decoration: none;
}
.subpage_title{
	font-size: 60pt;
	text-align: center;
	margin: 0;
	padding-top: 280px;
}
.margin_zero {
	margin: 0;
}
#subpage_logo_container {
	background-size: 250px !important;
	background-repeat: no-repeat !important;
	background-position: 50% 70% !important;
	height: 100vh;
	width: 100% !important;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
#subpage_logo_container, img {
	width: 50%;
}
.grey_box {
	background-color: #767676;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-size: 25pt;
	padding: 100px 25px;
}
.blue_box {
	background-color:#3d3a5c;
	display: flex;
	justify-content: center;
	padding: 75px 25px;
}
.large_heading2 {
	font-size: 30pt;
	color: white;
	text-align: center;
}