@charset "utf-8";
/* CSS Document */
.mushroom_sprite {
	width: 200px;
	height: 200px;
	background: url('css_workshop_shroom.png') 0 0 no-repeat;
	animation: play 1s steps(15) infinite;
}
@keyframes play {
	0%{background-position:0px;}
	100%{ background-position: -3000px; }
}